@using WebApp.UI.Models.Branch;
@using Microsoft.AspNetCore.Http;
@model SearchBranch
@{
}
<form method="get">
    <div class="collapse" id="collapseExample">
        <div class="card card-flush py-4">
            <!--begin::Card body-->
            <div class="">
                <!--begin::Billing address-->
                <div class="d-flex flex-column gap-5 gap-md-7">
                    <!--begin::Input group-->
                    <div class="d-flex flex-column flex-md-row gap-3">
                        <div class="flex-row-fluid">
                            <!--begin::Input-->
                            <input id="txtBranchCode" type="text" asp-for="@Model.bcode" value="@Context.Session.GetString("BranchCode")" class="form-control mb-3 mb-lg-0" placeholder="Search By Branch Code">
                            <!--end::Input-->
                        </div>
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <input id="txtLocation" type="text" asp-for="@Model.loc" value="@Context.Session.GetString("Location")" class="form-control mb-3 mb-lg-0" placeholder="Search By Location">
                        </div>
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container">
                            <select id="ddlCompany" asp-for="@Model.comp" value="@Context.Session.GetInt32("CompanyId")" class="form-select mb-3 mb-lg-0" data-kt-select2="true" data-placeholder="Select Company" data-allow-clear="true">
                                <option></option>
                                @if (ViewBag.Companies != null)
                                {
                                    foreach (var item in ViewBag.Companies)
                                    {
                                        <option value="@item.DataValue">@item.DataText</option>
                                    }
                                }
                            </select>

                        </div>
 
                        <div class="fv-row flex-row-fluid fv-plugins-icon-container d-flex gap-3 justify-content-end">
                            <button class="ml-10 btn btn-light-primary" type="submit">
                                <i class="fa fa-search"></i> Search
                            </button>
                            @*<button class="ml-10 btn btn-light-danger" type="reset">
                                <i class="fa fa-refresh"></i> Reset
                            </button>*@

                            <a asp-action="" asp-route-rst="true" class="ml-10 btn btn-light-danger">
                                <i class="fa fa-refresh"></i> Reset
                            </a>
                        </div>
                    </div>
                    

                </div>
                <!--end::Billing address-->
            </div>
            <!--end::Card body-->
        </div>
    </div>
</form>