@using WebApp.DTOs.User.Response;
@using WebApp.Global.Helpers;
@using WebApp.Global.Shared;
@using Microsoft.AspNetCore.Http;
@using WebApp.UI.Models.User;
@{
    ViewData["Title"] = "Users";
    Layout = "_Layout";

    SortingHelper? sorting = (SortingHelper?)ViewData["Sort"];

    PagerHelper pager = new PagerHelper();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

    SearchUser searchUser = new SearchUser();
    var _branchId = Context.Session.GetInt32("BranchId");

    if (_branchId > 0)
    {
        searchUser.branchId = _branchId;
    }

    var _designationId = Context.Session.GetInt32("DesignationId");

    if(_designationId > 0)
    {
        searchUser.designationId = _designationId;
    }

    var _userTypeId = Context.Session.GetInt32("UserTypeId");

    if(_userTypeId > 0)
    {
        searchUser.userTypeId = _userTypeId;
    }
}

@model PagedResponseDto<SiteUserResponseDto>

<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">@ViewData["Title"]</h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        Over @pager.TotalItems Users
                    </li>


                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Search-->
        </div>
        <!--begin::Card title-->
        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <!--begin::Toolbar-->
            <div class="d-flex justify-content-end">
                <button id="btnFilters" type="button" class="btn btn-light-primary me-3 collapsible toggle" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="ki-duotone ki-filter fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>Filter
                </button>

                <!--begin::Add user-->
                <button type="button" class="btn btn-primary" onclick="AddOrUpdate(0)">
                    <i class="ki-duotone ki-plus fs-2"></i>Add User
                </button>

                <!--end::Add user-->
            </div>
            <!--end::Toolbar-->

        </div>
        <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body py-4">

        <!--SEARCH BAR-->
        <partial name="_SearchUser" model="@searchUser"></partial>

        <!--begin::Table-->
        <div id="kt_table_users_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer" id="kt_table_user">
                    <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">

                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="Full Name: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("Name").SortExpression" class="text-gray-800">
                                    Full Name
                                </a>
                                <i class="@sorting?.GetColumn("Name").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="EmployeeCode: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("EmployeeCode").SortExpression" class="text-gray-800">
                                    Employee Code
                                </a>
                                <i class="@sorting?.GetColumn("EmployeeCode").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            
                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("Email").SortExpression" class="text-gray-800">
                                    Email
                                </a>
                                <i class="@sorting?.GetColumn("Email").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            
                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="Mobile: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("Mobile").SortExpression" class="text-gray-800">
                                    Mobile
                                </a>
                                <i class="@sorting?.GetColumn("Mobile").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="BranchName: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("BranchName").SortExpression" class="text-gray-800">
                                    Branch
                                </a>
                                <i class="@sorting?.GetColumn("BranchName").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="DesignationName: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("DesignationName").SortExpression" class="text-gray-800">
                                    Designation
                                </a>
                                <i class="@sorting?.GetColumn("DesignationName").SortIcon text-info" arial-hidden="true"></i>
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="kt_table_user" rowspan="1" colspan="1" aria-label="Created Date: activate to sort column ascending">
                                <a asp-action="UserIndex" asp-route-srt="true" asp-route-srtex="@sorting?.GetColumn("CreatedDate").SortExpression" class="text-gray-800">
                                    Created Date
                                </a>
                                <i class="@sorting?.GetColumn("CreatedDate").SortIcon text-info" arial-hidden="true"></i>
                            </th>
                            <th class="text-end sorting_disabled" rowspan="1" colspan="1" aria-label="Actions">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                        @if (Model.List != null)
                        {
                            if (Model.List.Count > 0)
                            {
                                @foreach (var item in Model.List)
                                {
                                    <tr id="TR_@item.Id">

                                        <partial name="_ListUser" model="@item"></partial>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" class="table-td-padding-75rem" style="text-align:center;">
                                        <span class="text-danger">No Record Found</span>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

            <partial name="_Pager" model="@pager"></partial>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>

<!--begin::Modal - Add Update user-->
<div class="modal fade" id="kt_modal_user" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
            <!--begin::Modal header-->
            <div class="modal-header" id="kt_modal_add_header">
                <!--begin::Modal title-->
                <h2 id="title" class="fw-bold">Add User</h2>
                <!--end::Modal title-->
                <!--begin::Close-->
                @* <button type="button" class="btn btn-light me-3" data-bs-toggle="modal" tabindex=5>Discard</button>*@

                <button type="button" class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-toggle="modal">
                    <i class="ki-duotone ki-cross fs-1">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </button>
                <!--end::Close-->
            </div>
            <!--end::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y mx-5 mx-xl-15 my-7" id="userModelBody">
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - Add Update user-->
@section Scripts{
    <script src="custom/js/user/usercrud.js"></script>
}

